@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100;300&display=swap");
/**variables*/
/**mixins*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.3);
  gap: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: linear-gradient(#f1f1f1, white 100%);
}
@media only screen and (max-width: 640px) {
  header {
    padding: 1rem;
  }
}
header .header-title {
  flex: 1;
  color: orange;
  line-height: 0.85em;
  white-space: nowrap;
  font-family: "Lora", serif;
  font-size: 45px;
}
@media only screen and (max-width: 640px) {
  header .header-title {
    font-size: 30px;
  }
}
header .header-title p {
  font-family: inherit;
}
header .header-right {
  display: flex;
  flex-flow: column;
  gap: 0.5rem 3rem;
}
header .today-date {
  text-align: right;
  font-size: xx-small;
  color: rgba(20, 20, 20, 0.8);
}
header nav {
  display: flex;
  height: 100%;
  font-weight: 600;
  font-size: calc(15px + 0.5vmin);
  justify-content: space-between;
  gap: 3rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 640px) {
  header nav {
    margin-right: 0;
    gap: 0;
  }
}
header nav .nav-anchor {
  display: inline-block;
  align-self: flex-end;
  text-decoration: none;
  color: rgba(20, 20, 20, 0.8);
}
header nav .nav-anchor:hover {
  color: black;
}

footer {
  color: rgba(20, 20, 20, 0.8);
  border-top: 1px solid;
  border-color: rgba(100, 100, 100, 0.3);
}
footer .copyright {
  text-align: center;
  margin: 1.2rem 0;
  display: block;
  font-size: calc(9px + 0.5vmin);
}
footer .copyright#developer {
  margin-bottom: 2rem;
}
footer .copyright .copyright-anchor {
  color: inherit;
}

.search {
  /**upper part of the search page*/
  /**lower part of the search page*/
}
.search .search-section {
  position: relative;
  width: 75vw;
  margin: auto;
  padding: 5rem 0;
}
.search .search-section::before {
  content: "";
  position: absolute;
  width: 50vw;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
@media only screen and (max-width: 1024px) {
  .search .search-section::before {
    width: 85vw;
  }
}
@media only screen and (max-width: 1024px) {
  .search .search-section {
    width: 90vw;
  }
}
@media only screen and (max-width: 640px) {
  .search .search-section {
    padding: 2rem 0;
  }
}
.search svg {
  width: 100%;
  max-width: 550px;
  height: auto;
  margin: auto;
}
.search .search-section {
  display: flex;
  flex-flow: row;
  gap: 3rem 3rem;
}
@media only screen and (max-width: 640px) {
  .search .search-section {
    flex-flow: column;
  }
}
.search .search-section .search-form {
  flex: 1;
  display: grid;
  place-items: center;
}
.search .search-section .search-form .search-form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  gap: 2rem;
  width: 100%;
}
.search .search-section .search-form .search-form-center .search-label {
  display: block;
  text-align: center;
  font-size: calc(16px + 1vmin);
}
.search .search-section .search-form .search-form-center .search-input-duo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .search .search-section .search-form .search-form-center .search-input-duo {
    flex-flow: column;
  }
}
.search .search-section .search-form .search-form-center .search-input-duo .search-input {
  outline: none;
  padding: 0.5rem;
  font-size: calc(15px + 0.5vmin);
  border: 1px solid orange;
  border-radius: 10px;
  min-width: 15rem;
  width: 100%;
}
.search .search-section .search-form .search-form-center .search-input-duo .search-button {
  padding: 0.5rem 2rem;
  font-size: calc(15px + 0.5vmin);
  font-weight: 600;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 10px;
}
.search .search-section .search-form .search-form-center .search-input-duo .search-button:hover {
  background-color: #ffae19;
}
.search .search-section .search-form .search-form-center .search-input-duo .search-button:active {
  background-color: #e59400;
}
.search .display-section {
  position: relative;
  display: grid;
  place-items: center;
}
.search .display-section svg {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 10vh 0;
}

.display {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 4rem;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .display {
    padding: 1rem;
  }
}
.display .display-book {
  padding: 1rem;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 10px;
  float: left;
}
.display .display-book .book-item#book-cover {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.display .display-book .book-item#book-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: calc(15px + 0.5vmin);
}
.display .display-book .book-item#book-description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contact {
  flex: 1;
  margin: auto;
}
.contact .contact-card {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 70vw;
  max-width: 800px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
@media only screen and (max-width: 640px) {
  .contact .contact-card {
    width: 90vw;
    flex-flow: column;
    margin-top: 5vh;
  }
}
.contact .contact-card .contact-user {
  width: 300px;
  min-width: 150px;
  height: auto;
}
.contact .contact-card .contact-text-container {
  font-size: calc(15px + 0.5vmin);
  padding: 2rem;
  padding-left: 1rem;
}
.contact .contact-card .contact-text-container #contact-p-text {
  text-align: left;
  margin-bottom: 2rem;
}
.contact .contact-card .contact-text-container #contact-p-anchor {
  text-align: center;
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item {
  color: rgba(20, 20, 20, 0.8);
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item:hover {
  color: black;
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item:active {
  color: gray;
}/*# sourceMappingURL=style.css.map */