@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  border-bottom: 1px solid;
  border-color: rgba(100, 100, 100, 0.3);
  gap: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: linear-gradient(#f1f1f1, white 100%);
}
@media only screen and (max-width: 640px) {
  header {
    padding: 1rem;
  }
}
header .header-title {
  flex: 1;
  color: orange;
  line-height: 0.9em;
  white-space: nowrap;
  font-family: "Lora", serif;
  font-size: 40px;
}
@media only screen and (max-width: 640px) {
  header .header-title {
    font-size: 30px;
  }
}
header .header-title p {
  font-family: inherit;
}
header .header-right {
  display: flex;
  flex-flow: column;
  gap: 0.5rem 3rem;
}
header .today-date {
  text-align: right;
  font-size: xx-small;
  color: rgba(20, 20, 20, 0.8);
}
header nav {
  display: flex;
  height: 100%;
  font-weight: 600;
  font-size: calc(15px + 0.5vmin);
  justify-content: space-between;
  gap: 3rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 640px) {
  header nav {
    margin-right: 0;
    gap: 0;
  }
}
header nav .nav-anchor {
  display: inline-block;
  align-self: flex-end;
  text-decoration: none;
  color: rgba(20, 20, 20, 0.8);
}
header nav .nav-anchor:hover {
  color: black;
}

footer {
  color: black;
  border-top: 1px solid;
  border-color: rgba(100, 100, 100, 0.3);
}
footer .copyright {
  text-align: center;
  margin: 1.2rem 0;
  display: block;
  font-size: calc(9px + 0.5vmin);
}
footer .copyright#developer {
  margin-bottom: 2rem;
}
footer .copyright .copyright-anchor {
  color: inherit;
}

.search-div svg {
  width: 500px;
  min-width: 200px;
  height: auto;
  border: 1px solid black;
}

.contact {
  flex: 1;
  margin: auto;
  margin-top: 10vh;
}
.contact .contact-card {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border: 1px solid rgba(100, 100, 100, 0.3);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media only screen and (max-width: 640px) {
  .contact .contact-card {
    flex-flow: column;
    width: 90vw;
  }
}
.contact .contact-card .contact-user {
  width: 300px;
  min-width: 100px;
  height: auto;
}
.contact .contact-card .contact-text-container {
  font-size: calc(15px + 0.5vmin);
  padding: 2rem;
  padding-left: 1rem;
}
.contact .contact-card .contact-text-container #contact-p-text {
  text-align: left;
  margin-bottom: 2rem;
}
.contact .contact-card .contact-text-container #contact-p-anchor {
  text-align: center;
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item {
  color: rgba(20, 20, 20, 0.8);
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item:hover {
  color: black;
}
.contact .contact-card .contact-text-container #contact-p-anchor .contact-p-anchor-item:active {
  color: gray;
}/*# sourceMappingURL=style.css.map */