//colors
$color-orange: orange;
$color-white: black;
$color-gray: rgb(100, 100, 100, 0.3);
$color-font: #000000a6;

//font-sizes
$font-size-small: calc(7px + 1vmin);
$font-size-medium: calc(10px + 1vmin);
$font-size-large: calc(15px + 1vmin);
$font-size-title: calc(20px + 1vmin);
