//colors
$color-orange-dark: #e59400;
$color-orange-light: #ffae19;
$color-orange: orange;
$color-white: white;
$color-gray: rgb(100, 100, 100, 0.3);
$color-font: rgb(20, 20, 20, 0.8);

//font-sizes
$font-size-small: calc(9px + 0.5vmin);
$font-size-medium: calc(15px + 0.5vmin);
$font-size-large: calc(16px + 1vmin);

//mixins
@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
