@use "_abstracts" as *;

.contact-page {
  flex: 1;
  margin: auto;

  & .contact-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-bottom: 1rem;
    border: 1px solid $color-gray;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 70vw;
    max-width: 800px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;

    @include tablet {
      width: 90vw;
      flex-flow: column;
      margin-top: 5vh;
    }

    & .contact-user {
      width: 300px;
      min-width: 200px;
    }

    & .contact-text-container {
      font-size: $font-size-medium;
      padding: 2rem;
      padding-left: 0.5rem;
      width: 550px;

      @include tablet {
        padding: 2rem;
        width: auto;
      }

      @include mobile {
        padding: 1rem;
      }

      & #contact-p-text {
        text-align: left;
        margin-bottom: 2rem;
      }

      & #contact-p-anchor {
        text-align: center;

        & .contact-p-anchor-item {
          color: $color-font;
          &:hover {
            color: black;
          }
          &:active {
            color: gray;
          }
        }
      }
    }
  }
}
