@use "_abstracts" as *;

.contact {
  flex: 1;
  margin: auto;
  margin-top: 10vh;

  & .contact-card {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border: 1px solid $color-gray;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    @include mobile {
      flex-flow: column;
      width: 90vw;
    }

    & .contact-user {
      width: 300px;
      min-width: 100px;
      height: auto;
    }

    & .contact-text-container {
      font-size: $font-size-medium;
      padding: 2rem;
      padding-left: 1rem;

      & #contact-p-text {
        text-align: left;
        margin-bottom: 2rem;
      }

      & #contact-p-anchor {
        text-align: center;

        & .contact-p-anchor-item {
          color: $color-font;
          &:hover {
            color: black;
          }
          &:active {
            color: gray;
          }
        }
      }
    }
  }
}
