@use "_abstracts" as *;

footer {
  color: $color-font;
  border-top: 1px solid;
  border-color: $color-gray;

  & .copyright {
    text-align: center;
    margin: 1.2rem 0;
    display: block;
    font-size: $font-size-small;

    &#developer {
      margin-bottom: 1.5rem;
    }

    & .copyright-anchor {
      color: inherit;
    }
  }
}
