@use "_abstracts" as *;

header {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  border-bottom: 1px solid;
  border-color: $color-gray;
  gap: 0 1rem;

  @include mobile {
    padding: 1rem;
  }

  & .header-title {
    flex: 1;
    color: $color-orange;
    line-height: 0.85em;
    white-space: nowrap;
    font-family: "Lora", serif;
    font-size: 45px;

    @include mobile {
      font-size: 30px;
    }

    & p {
      font-family: inherit;
    }
  }

  & .header-right {
    display: flex;
    flex-flow: column;

    gap: 0.5rem 3rem;
  }

  & .today-date {
    text-align: right;
    font-size: xx-small;
    color: $color-font;
  }

  & nav {
    display: flex;
    height: 100%;
    font-weight: 600;
    font-size: $font-size-large;
    justify-content: space-between;
    gap: 2.5rem;
    margin-right: 1rem;

    @include mobile {
      margin-right: 0;
      gap: 1rem;
    }

    //search & contact
    & .nav-anchor {
      position: relative;
      display: inline-block;
      align-self: flex-end;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-font;
      transition: color 0.3s ease;

      //border
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        bottom: -2px;
        right: -5px;
        border: 3px solid orange;
        z-index: -1;
      }

      //revealing part cover
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0.5rem;
        bottom: -2px;
        right: -5px;
        background-color: white;
        z-index: -1;
        transition: left 0.3s ease, bottom 0s ease;
      }

      //top part cover
      & i {
        position: absolute;
        top: 0;
        left: -1px;
        bottom: -2px;
        right: -5px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0px;
          bottom: 3px;
          right: 3px;
          background-color: white;
          z-index: -1;
        }
      }

      //hover effect
      &:hover {
        color: black;

        &::after {
          transition: left 0.3s ease, bottom 0.2s ease 0.2s;
          left: 100%;
          bottom: 8px;
        }
      }
    }
  }
}
