@use "_abstracts" as *;

.search-page {
  /**upper part of the search page*/
  & .search-section {
    position: relative;
    width: 75vw;
    margin: auto;
    padding: 5rem 0;

    &::before {
      content: "";
      position: absolute;
      width: 50vw;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-bottom: 1px solid $color-gray;

      @include tablet {
        width: 85vw;
      }
    }

    @include tablet {
      width: 90vw;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }

  & svg {
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: auto;
  }

  & .search-section {
    display: flex;
    flex-flow: row;
    gap: 3rem 3rem;

    @include mobile {
      flex-flow: column;
    }

    //form contains label, input, button
    & .search-form {
      flex: 1;
      display: grid;
      place-items: center;

      & .search-form-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: wrap column;
        gap: 2rem;
        width: 100%;

        & .search-label {
          display: block;
          text-align: center;
          font-size: calc(21px + 0.5vmin);
        }

        & .search-input-duo {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 100%;

          @include tablet {
            flex-flow: column;
          }

          & .search-input {
            outline: none;
            padding: 0.5rem;
            font-size: $font-size-large;
            border: 2px solid $color-orange;
            border-radius: $border-radius;
            min-width: 15rem;
            width: 100%;
          }

          & .search-button {
            @include button;
          }
        } //end of search-input-duo

        & .search-select {
          outline: none;
          border: 1px solid $color-orange;
          border-radius: 4px;
        }
      } //end of centering-div
    } //end of search-form
  }

  /**lower part of the search page*/
  & .display-section {
    position: relative;
    display: grid;
    place-items: center;

    & .display-card-container {
      display: flex;
      flex-flow: column;
      gap: 2rem;
      width: 80vw;
      padding: 4rem 0;
      margin: auto;

      @include tablet {
        width: 90vw;
      }
    }

    & svg {
      width: 100%;
      max-width: 700px;
      height: auto;
      margin: 10vh 0;
    }

    // & .display-page {
    //   display: flex;
    //   justify-content: center;
    //   gap: 3rem;
    //   margin-top: 2rem;

    //   & .display-page-button-container {
    //     width: 100%;
    //   }

    //   & .display-page-button {
    //     @include button;
    //     padding: 0.3rem 1rem;

    //     &#pre {
    //       display: block;
    //       margin-left: auto;
    //     }

    //     &.disabled {
    //       background-color: $color-gray;
    //       pointer-events: none;
    //     }
    //   }
    // }

    & .back-to-search-button {
      @include button;
      position: relative;
      bottom: 0;
      padding: 0.2rem 0.5rem;
      margin: auto;
      margin-top: 4vh;
      animation-timing-function: cubic-bezier(0.86, 0.34, 0.57, 1.22);

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 4px;
        border-radius: 2px;
        background-color: $color-orange;
        left: 50%;
        top: -18px;
        translate: calc(-50% - 4px);
        rotate: -45deg;
      }

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 4px;
        border-radius: 2px;
        background-color: $color-orange;
        left: 50%;
        top: -18px;
        translate: calc(-50% + 4px);
        rotate: 45deg;
      }

      &:hover {
        &::before {
          animation: up-bounce 1s ease infinite;
        }
        &::after {
          animation: up-bounce 1s ease infinite;
        }

        @keyframes up-bounce {
          20% {
            top: -23px;
          }
          50% {
            top: -14px;
          }
          90% {
            top: -18px;
          }
          100% {
            top: -18px;
          }
        }
      }
    }

    //loading-image
    & .display-loading {
      text-align: center;
      margin-top: 10vh;
      margin-bottom: 25vh;

      & .loading-animation {
        margin: auto;
        margin-bottom: 0.5rem;

        & circle {
          stroke: $color-orange;
          stroke-width: 5;
          fill: transparent;
          stroke-dasharray: 205;
          stroke-dashoffset: 0;
          transform-origin: 50px 50px;
          animation: rotate 1s linear infinite;
        }

        @keyframes rotate {
          100% {
            rotate: 360deg;
          }
        }
      }

      & .loading-text {
        font-weight: 600;
        color: $color-orange;
      }
    }
  } //end of display-section
} // end of search-page
